- provide(:title, 'Contact')
%h1{:style => "color: #DB7093;"} Contact Us
%p
%li{:style => "color: #DB7093;"} Telephone: 2421000000
%li{:style => "color: #DB7093;"} E-mail:iorder.mobile@gmail.com
%li{:style => "color: #DB7093;"} Follow : https://twitter.com/iOrder_app
%li{:style => "color: #DB7093;"} Like : https://www.facebook.com/pages/iOrder/668431556553858?fref=ts
%li{:style => "color: #DB7093;"} Blog : http://iorderteam.blogspot.gr/